body {
  font-family: 'BIZ UDPGothic', sans-serif;
  margin: 0;
  padding: 10px;
  background-color: white;
  color: black;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* ヘッダーのスタイル */
h1 {
  font-size: 20px;
}

h2 {
  font-size: 20px;
}

/* 情報セクションのスタイル */
.info-section {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 情報アイテムのスタイル */
.item {
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* ボタンのスタイル */
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

/* コメントのスタイル */
#status {
  color: red;
}

#comments {
  font-style: italic;
  margin-top: 20px;
}

.space {
  padding: 20px;
}

footer {
  background-color: #f0f0f0;
  padding: 10px;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1);
}